*{
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
}
.allcontent{
    width: 1100px;
    margin: 50px auto;
    /*background: red;*/
    padding: 50px;
}
.content{
    position: relative;
    border:1px solid #e5e5e5;
    height: 100%;
    padding: 50px;
}
.content>h3{
    color: #5d5d5d;
}
.record_ul{
    margin: 0;
    padding: 0;
}
.record_ul li{
    cursor: pointer;
    list-style: none;
    float: left;
    padding: 20px 50px 20px 0;
    font-size: 14px;
}
.record_ul li.active{
    color:#d29031 ;
}
.record_ul_title{
    border: 1px solid #e9e9e9;
    background: #f6f6f6;
    width: 100%;
    padding: 5px 0;
}
.record_ul_title li{
    text-align: center;
    list-style: none;
    width: 15%;
    float: left;
}
.record_table{
    margin-top: 40px;
    border-collapse:collapse;
    font-size: 14px;
    width: 100%;
    border: 1px solid #e9e9e9;
}
.record_table>thead{
    background: #f6f6f6;
}
.record_table>thead td{
    padding: 10px 0 10px 50px;
}

.record_table tbody td{
    text-align: center;
    width:15%;
    padding:65px 0;
}
.first_td{
    width: 40% !important;
    padding: 0!important;
}
.first_td>span{
    line-height: 158px;
}
.first_td>img{
    /*display: table-cell;*/
    vertical-align:middle;;
}
.btn_record_ok{
    color: white;
    outline: none;
    border-radius: 2px;
    background: #e03131;
    padding: 5px 20px;
    border: 0;
}
.btn_record_no{
    outline: none;
    color: white;
    border-radius: 2px;
    background: #2e7bd1;
    padding: 5px 20px;
    border: 0;
}
.f1{
    font-size:16px;
}
.f2{
    padding: 0 30px;
    font-size: 30px;
}
.f3{
    cursor: pointer;
    float: left;
}
.xg_F{
    right: 50px;
    bottom: 15px;
    position: absolute;
}
.F_ul{
    float: left;
    padding: 0;
    margin: 0 20px;
}
.F_ul .active{
    color:#d29031 ;
}
.F_ul li{
    cursor: pointer;
    float: left;
    padding: 0 10px;
    list-style: none;
}