<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTDConfig 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 使用SLF4J来记录mybatis日志 -->
    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>


    <typeAliases>
        <typeAlias alias="dto" type="com.lolluckyman.utils.core.BaseDto"/>
    </typeAliases>

</configuration>